{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "experimentalObjectRestSpread": true
      }
  },
  "plugins": [
      "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
      "comma-dangle": 0
  },
  "globals": {
    "document": true,
    "process": true,
    "window": true,
    "__dirname": true,
    "console": true,
    "module": true
  },
  "settings": {
      "react": {
          "pragma": "React",
          "version": "15.4.2"
      }
  }
}